.all-projects-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Par défaut, trois divs par ligne */
	gap: 15px; /* Espacement entre les projets */
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 3px;
	margin-right: -35px;
  }
  
  .all-projects-project {
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
  }
  
  @media (max-width: 1200px) {
	.all-projects-container {
	  grid-template-columns: repeat(2, 1fr); /* Deux divs par ligne pour les écrans étroits */
	}
  }
  @media (max-width: 700px) {
	.all-projects-container {
	  grid-template-columns: repeat(1, 1fr); /* Deux divs par ligne pour les écrans étroits */
	}
  }
  
  