/*@import "../../../data/styles.css";

.project {
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	height: 100%;
	border : solid 1px var(--secondary-color);
}

.project a {
	text-decoration: none;
}

.project:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.project:hover .project-link {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

.project-container {
	padding: 30px;
}

.project-logo {
	width: 30px;
}

.project-logo img {
	width: 100%;
}

.project-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	padding-top: 10px;
	margin-bottom: 1em;
	font-weight: 700;
}

.project-description {
	color: var(--secondary-color);
	max-height: 280px;
}

.project-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 13px;
	display: flex;
	align-items: center;
	
}

.project-link-text {
	padding-left: 20px;
	font-weight: 700;
 }

@media (max-width: 600px) {
	.project {
		height: 300px;
	}
}
*/

/* Style du conteneur principal du projet */
.project-container {
	background-color: white ; /* Couleur d'arrière-plan */
	padding: 20px; /* Espace intérieur */
	
	margin-bottom: 20px; /* Marge inférieure entre les projets */
	mix-blend-mode: normal;
	border-radius: 5px;
	opacity: 0.8;
	height:500px;
	position: relative; /* Position relative pour que la position fixe soit relative à ce conteneur */
	transition: transform 0.2s ease;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);


  }
  .project-container:hover {
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
	transform: translateY(-8px);
}
  /* Style pour la partie titre */
  .project-title {
	font-size: 18px; /* Taille de police du titre */
	font-weight: bold; /* Gras */
	font-family: var(--secondary-font);
	color: #00353F;
	font-size: 18px;
	padding-top: 10px;
	margin-bottom: 1em;
	text-align: center;

  }
  
  /* Style pour la partie description avec une hauteur spécifique */
  .project-description {
	 /* Hauteur spécifique */
	overflow: hidden; /* Masquer le contenu dépassant de la hauteur spécifiée */
	min-height: 220px;
  }
  
  /* Style pour la partie compétences */
  .project-skills {
	position: absolute;
	top: 85%;
	left: 0;
	right: 0; /* Ajoutez cette ligne pour centrer horizontalement le contenu */
	text-align: center;
		font-weight: bold; /* Gras */

	color:#5784BA;
	/*#00353F*/
  }
  
  .skill{
	margin: 2px;
	display: inline-block;
  margin-right: 15px;
  }
  /* Style pour l'icône du lien GitHub */
  .github-link {
	position: absolute;
	top: 95%; /* Ajustez la valeur pour contrôler la distance par rapport au bas */
	left: 0;
	right: 0;
	text-align: center;
  }
  
  /* Style pour l'icône du lien GitHub (optionnel) */
  .github-link a {
	text-decoration: none; /* Supprimer la décoration du lien */
	color: #00353F; /* Couleur du lien */
	font-size: 18px; /* Taille de police du lien */
  }
  
  /* Style pour l'icône du lien GitHub (optionnel) au survol */
  .github-link a:hover {
	text-decoration: underline; /* Souligner le lien au survol */
	
  }
  